Strakmachine_pure
scripts/__pycache__
build
Strakmachine/airfoil_library/Allround/NG/NG15/NG15_040k.dat
Strakmachine/airfoil_library/Allround/NG/NG15/NG15_060k.dat
Strakmachine/airfoil_library/Allround/NG/NG15/NG15_100k.dat
Strakmachine/airfoil_library/Allround/NG/NG15/NG15_150k.dat
Strakmachine/airfoil_library/Allround/NG/NG15/NG15_Strak.xfl
Strakmachine/airfoil_library/Allround/NG/NG15/Readme.txt
Strakmachine/airfoil_library/Allround/NG/NG15/RG15_NG15_comparison.xfl
Strakmachine/airfoil_library/Allround/PK/MSHD/MH-30modPK_RE200K_240K.dat
Strakmachine/airfoil_library/Allround/PK/MSHD/MSHD_3003mod_PK_RE130K_170K.dat
Strakmachine/airfoil_library/Allround/PK/MSHD/Readme.txt
Strakmachine/airfoil_library/Allround/PK/MSHD/SD7003modPK_RE55K_80K.dat
Strakmachine/airfoil_library/Allround/RG/RG15/Readme.txt
Strakmachine/airfoil_library/Allround/RG/RG15/RG15.dat
Strakmachine/airfoil_library/Allround/RG/RG15/RG15_SE_040k.dat
Strakmachine/airfoil_library/Allround/RG/RG15/RG15_SE_060k.dat
Strakmachine/airfoil_library/Allround/RG/RG15/RG15_SE_100k.dat
Strakmachine/airfoil_library/Allround/RG/RG15/RG15_SE_150k.dat
Strakmachine/airfoil_library/Allround/RG/RG15/RG15_SE_strak.xfl
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/JX-GS-04.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/JX-GS-06.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/JX-GS-10.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/JX-GS-15.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/Readme.txt
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/JX-GT-04.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/JX-GT-05.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/JX-GT-10.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/JX-GT-15.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/JX-GT-20.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/Readme.txt
Strakmachine/airfoil_library/F5D/MH/MH 43 8.5%.dat
Strakmachine/airfoil_library/F5D/MH/Readme.txt
Strakmachine/airfoil_library/Scale_Glider/SA/SA7036/Readme.txt
Strakmachine/airfoil_library/Scale_Glider/SA/SA7036/SA7036a.dat
Strakmachine/airfoil_library/Scale_Glider/SA/SA7036/SA7036i.dat
Strakmachine/airfoil_library/Scale_Glider/SA/SA7036/SA7036m.dat
Strakmachine/airfoil_library/Scale_Glider/SD/SD-220.dat
Strakmachine/airfoil_library/Scale_Glider/SD/SD7003.dat
Strakmachine/airfoil_library/Tail/HD/HD800.dat
Strakmachine/airfoil_library/Tail/HD/HD801.dat
Strakmachine/airfoil_library/Tail/HD/Readme.txt
Strakmachine/airfoil_library/Tail/HT/HT/HT12.dat
Strakmachine/airfoil_library/Tail/HT/HT/HT13.dat
Strakmachine/airfoil_library/Tail/HT/HT/HT14.dat
Strakmachine/airfoil_library/Tail/HT/HT/Readme.txt
Strakmachine/airfoil_library/Tail/JX/JX-E/JX-E-150.dat
Strakmachine/airfoil_library/Tail/JX/JX-E/JX-E-250.dat
Strakmachine/airfoil_library/Tail/JX/JX-E/Readme.txt
Strakmachine/airfoil_library/Tail/NACA/NACA63A_007.dat
Strakmachine/airfoil_library/Tail/Readme.txt
Strakmachine/airfoil_library/Tail/TP/Readme.txt
Strakmachine/airfoil_library/Tail/TP/tp29-5.dat
Strakmachine/airfoil_library/Tail/TP/tp29-6.dat
Strakmachine/airfoil_library/Tail/TP/tp29-7.dat
Strakmachine/airfoil_library/Tail/TP/tp29-8.dat
Strakmachine/airfoil_library/Tail/TP/tp29-9.dat
Strakmachine/bin/xfoil_worker.exe
Strakmachine/bin/xoptfoil-JX.exe
Strakmachine/create_all_planforms.bat
Strakmachine/create_tail_planform.bat
Strakmachine/create_tail_polars.bat
Strakmachine/create_wing_planform.bat
Strakmachine/create_wing_polars.bat
Strakmachine/doc/Troubleshooting.docx
Strakmachine/doc/Xoptfoil-JX/ChangeLog.pdf
Strakmachine/doc/Xoptfoil-JX/Xfoil_worker.pdf
Strakmachine/doc/Xoptfoil-JX/Xoptfoil-JX.pdf
Strakmachine/doc/Xoptfoil-JX/Xoptfoil_visualizer-JX.pdf
Strakmachine/FirstSteps.docx
Strakmachine/HowToInstall.docx
Strakmachine/make_037k.bat
Strakmachine/make_strak.bat
Strakmachine/pip_install.bat
Strakmachine/ressources/fanfare.wav
Strakmachine/ressources/FLZ_wing.flz
Strakmachine/ressources/iOpt.txt
Strakmachine/ressources/iPolars_T1.txt
Strakmachine/ressources/iPolars_T2.txt
Strakmachine/ressources/iSmooth.txt
Strakmachine/ressources/plane_template.flz
Strakmachine/ressources/plane_template.xml
Strakmachine/ressources/planformdata_tail.txt
Strakmachine/ressources/planformdata_wing.txt
Strakmachine/ressources/strakdata.txt
Strakmachine/ressources/strakmachine.png
Strakmachine/ressources/XFLR5_wing.xml
Strakmachine/scripts/__pycache__/change_airfoilname.cpython-37.pyc
Strakmachine/scripts/__pycache__/FLZ_Vortex_export.cpython-37.pyc
Strakmachine/scripts/__pycache__/strak_machine.cpython-37.pyc
Strakmachine/scripts/__pycache__/xoptfoil_visualizer-jx.cpython-37.pyc
Strakmachine/scripts/best_airfoil.py
Strakmachine/scripts/change_airfoilname.py
Strakmachine/scripts/FLZ_Vortex_export.py
Strakmachine/scripts/planform_creator.py
Strakmachine/scripts/show_status.py
Strakmachine/scripts/strak_machine.py
Strakmachine/scripts/strak_machine_gui.py
Strakmachine/scripts/xoptfoil_visualizer-jx.py
Strakmachine/show_status.bat
Strakmachine/strakmachine_gui.bat
Strakmachine_R1.zip
make_037k.bat
make_150k.bat
make_strak.bat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/images/JX-GS-15.png
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/images/JX-GS_family.png
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/readme.md
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/strak/JX-GS-04.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/strak/JX-GS-06.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/strak/JX-GS-07-blended.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/strak/JX-GS-08-blended.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/strak/JX-GS-09-blended.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/strak/JX-GS-10.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/strak/JX-GS-11-blended.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/strak/JX-GS-12-blended.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/strak/JX-GS-13-blended.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/strak/JX-GS-14-blended.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GS/strak/JX-GS-15.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/images/JX-GT.png
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/images/JX-GT_Strak.png
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/images/T1_Polars.png
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/images/T1_Polars_using_flaps.png
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/images/T2_Polars_cl-cd.png
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/images/T2_Polars_glide-ratio.png
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/readme.md
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-05.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-06b.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-07b.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-08b.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-09b.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-10.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-11b.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-12b.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-13b.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-14b.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-16b.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-17b.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-18b.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-19b.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT-20.dat
Strakmachine/airfoil_library/F3B_F3F/JX/JX-GT/strak/JX-GT.dat
Strakmachine/airfoil_library/Flyin_Wing/JX-RS/images/JX-RS_family.png
Strakmachine/airfoil_library/Flyin_Wing/JX-RS/images/JX-RS_family_polars.png
Strakmachine/airfoil_library/Flyin_Wing/JX-RS/JX-RS-Root.dat
Strakmachine/airfoil_library/Flyin_Wing/JX-RS/JX-RS-Tip.dat
Strakmachine/airfoil_library/Flyin_Wing/JX-RS/JX-RS.dat
Strakmachine/airfoil_library/Flyin_Wing/JX-RS/readme.md
Strakmachine/airfoil_library/Tail/JX/JX-Fe/images/JX-Fe_family.png
Strakmachine/airfoil_library/Tail/JX/JX-Fe/images/JX-Fe_family_polars.png
Strakmachine/airfoil_library/Tail/JX/JX-Fe/JX-Fe-150.dat
Strakmachine/airfoil_library/Tail/JX/JX-Fe/JX-Fe-250.dat
Strakmachine/airfoil_library/Tail/JX/JX-Fe/readme.md
*.pyc
Strakmachine/ressources/planformdataNew_tail.txt
Strakmachine/ressources/planformdataNew_wing.txt
Strakmachine_R3.zip
Strakmachine_R4.zip
ressources/planformdataNew_wingTest.txt
Strakmachine/planform_creator_gui.bat
Strakmachine/scripts/DXF_export.py
Strakmachine/scripts/planform_creator_gui.py
Strakmachine/scripts/XFLR5_export.py
ressources/planformdata.txt
ressources/strakdata_0.txt
Strakmachine/planform_library/testwing.dxf
Strakmachine/ressources/planformdata.txt
Strakmachine/ressources/strakdata_0.txt
Strakmachine/scripts/Strakmachine_export.py
Strakmachine_PR4.zip
